html {
    background-color: #142044;
}

body {
    text-align: center;
    height: auto;
    min-width: 200px;
    background-color: #142044;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.container {
    text-align: center;
    width: 1536px;
    height: 800px;
    background-color: #6a6a6a;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 10px;
}

.side{
    border: 1px solid red;
    height: 795px;
}

section {
    margin: 0 auto;
    background-color: #FFF;
    border-radius: 10px;
}

.daybox {
    display: inline-block;
    margin: 0 0;
}

header {
    position: absolute;
    top: 0px;
    margin-top: 0px;
    padding-top: 0px;
    width: 1919px;
    height: 100px;
    background-color: #FFF;
}

#left {
    float: left;
    width: 59%;
}

#right {
    float: right;
    width: 39%;
}