doctype html
html
    head
        title NAAH
        link(type="text/css" rel="stylesheet" href="main.css")
        
    body
        h1 Hi Friend
        p #{date}
        h3#location
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
        script(src="/scripts/weatherscript.js")